<!--FAVORITES PAGE-->
{% extends "layout.html" %}
{% block title %}Favorites{% endblock %}

{% block main_content %}

<h2>Favorite Weather Stations</h2>

<!--Loads the favs from database with AJAX. The AJAX gets the results with request to Flask server-->
<ul id="favs">
    {% for fav in favorite %}
    <li><input type="button" value="{{ fav[1] }}" onclick="getStationData('{{ fav[0] }}')"></li>
    {% endfor %}
</ul>

<hr>
<!-- Reset the database code starts here - this calls Javascript function which calls Flask server -->
<h6><input type="button" value="Reset Favorites" onclick="resetDatabase()"></h6>

<hr>

<!-- Display Table and chart button from table.html ->
{% include "table.html" %}
        
{% endblock %}
