{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block main_content %}


<div class="col-sm-9 col-sm-offset-0 col-md-10 col-md-offset-1 main">
    <h1 class="page-header">Weather Observations</h1>
        <div class="row placeholders">
            
            <div class="col-xs-5 col-sm-4 placeholder">
                <a href="new_south_wales">
                    <img src="../static/images/NSW.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>NSW</h4>
                </a>
            </div>
            
            <div class="col-xs-5 col-sm-4 placeholder">
                <a href="victoria">
                    <img src="../static/images/VIC.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>VIC</h4>
                </a>
            </div>
            
            <div class="col-xs-5 col-sm-4 placeholder">
                <a href="queensland">
                    <img src="../static/images/QLD.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>QLD</h4>
                </a>
            </div>
            
            <div class="col-xs-5 col-sm-4 placeholder">
                <a href="south_australia">
                    <img src="../static/images/SA.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>SA</h4>
                </a>
            </div>
            
            <div class="col-xs-5 col-sm-4 placeholder">
                <a href="western_australia">
                    <img src="../static/images/WA.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>WA</h4>
                </a>
            </div>
            
            <div class="col-xs-5 col-sm-4 placeholder">
                <a href="act">
                    <img src="../static/images/ACT.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>ACT</h4>
                </a>
            </div>
            
            <div class="col-xs-5 col-sm-4 placeholder">
                <a href="tasmania">
                    <img src="../static/images/TAS.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>TAS</h4>
                </a>
            </div>
			
			<div class="col-xs-5 col-sm-4 placeholder">
                <a href="northern_territory">
                    <img src="../static/images/NT.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>NT</h4>
                </a>
            </div>
			
            <div class="col-xs-5 col-sm-4 placeholder">
                <a href="antarctica">
                    <img src="../static/images/antarctica.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>ANTARCTICA</h4>
                </a>
            </div>

        </div>
    </div>
</div>

{% endblock %}
