{% extends "layout.html" %}
{% block title %}NSW{% endblock %}

{% block main_content %}

<h2 class="sub-header">Weather Observations for NSW</h2>
<div class="table-responsive">
    <table class="table table-striped">
         <thead>
            <tr>
                <th>#</th>
                <th>Header</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for station in stations_a_z %}
                    <td>{{ station.location }}</th>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
