{% extends "layout.html" %}
{% block title %}projectpage{% endblock %}

{% block main_content %}


<div class="col-sm-9 col-sm-offset-0 col-md-10 col-md-offset-1 main">
    <h1 class="page-header">HOW TO USE?</h1>
        <div class="row placeholders">

        	<h2> GENERAL STEPS <h2>
        		<a class="homepage">
        			<br>
 
        			<img src="../static/image/homepagepic.jpg" alt="homepagepic" width="600" height="400" class="img-rounded">
        			<br>
        			<br>
        			
        			<h4><font color="black"> This is the main homepage. <font></h4>
        			<br>
        			<br>
        		</a>
        		<a class="clickvic">

        			<img src="../static/image/vicpic.jpg" alt="showdata" width="600" height="400" class="img-rounded">
        			<br>
        		
        			<br>
        			<h4><font color="black"> Click the Victoria Region from the homepage. User can access to all the information about the regions in Victoria.<font></h4>
        			<br>
        			<br>
        		</a>
        		<a class="showdata">

        			<img src="../static/image/showdata.jpg" alt="showdata" width="600" height="400" class="img-rounded">
        			<br>
        			
        			<br>
        			<h4><font color="black"> If user clicks in specific region, user can find the weather data of that region.<font></h4>
        			<br>
        			<br>
        		</a>
        		<a class="chartpopup">

        			<img src="../static/image/chartpopup.jpg" alt="chartpopup" width="600" height="400" class="img-rounded">
        			<br>
        			
        			<br>
        			<h4><font color="black"> If user clicks the button on this page, temperature history will pop up. <font></h4>
        			<br>
        			<br>
        		</a>


        	<h2> FAVOURITE WEATHER STATION <h2>
        		<br>

        		<a class="choosefavorite">

        			<img src="../static/image/choosefavorite.jpg" alt="choosefavorite" width="600" height="400" class="img-rounded">
        			<br>
        			
        			<br>
        			<h4><font color="black"> User can select weather station that user wants to keep track of .<font></h4>
        			<br>
        			<br>
        		</a>
        		<a class="favorite">

        			<img src="../static/image/favorite.jpg" alt="favorite" width="600" height="400" class="img-rounded">
        			<br>
        			
        			<br>
        			<h4><font color="black"> User's favorite weather station should be stored by the program for when the program starts again. <font></h4>
        			<br>
        			<br>
        		</a>
        		<a class="favoritedata">

        			<img src="../static/image/favoritedata.jpg" alt="favoritedata" width="600" height="400" class="img-rounded">
        			<br>
        			
        			<br>
        			<h4><font color="black"> Also, it will show user all the datas of user's favorite weather station as possible.<font></h4>
        			<br>
        			<br>
        		</a>

        	<h2> THINGS THAT YOU KNOW <h2>
        		<br>
        		<h4><font color="black"> -  The system will automatically refresh the information. <font></h4>
        		<br>
        		<h4><front color="black"> -  User can keep their favorite weather station to keep track of their favorites.




            
            

        
    </div>
</div>

{% endblock %}
