{% extends "layout.html" %}
{% block title %}projectpage{% endblock %}

{% block main_content %}


<div class="col-sm-9 col-sm-offset-0 col-md-10 col-md-offset-1 main">
    <h1 class="page-header">HOW TO USE?</h1>
        <div class="row placeholders">

        	<h2> GENERAL STEPS <h2>
        		<a class="homepage">
        			<br>
 
        			<img src="../static/image/homepagepic.jpg" alt="homepagepic" width="600" height="400" class="img-rounded">
        			<br>
        			<br>
        			
        			<h4><font color="black"> This is the main homepage. <font></h4>
        			<br>
        			<br>
        		</a>
        		<a class="clickvic">

        			<img src="../static/image/vicpic.jpg" alt="showdata" width="600" height="400" class="img-rounded">
        			<br>
        		
        			<br>
        			<h4><font color="black"> Click the Victoria Region from the homepage. You can access to all the information about the regions in Victoria.<font></h4>
        			<br>
        			<br>
        		</a>
        		<a class="showdata">

        			<img src="../static/image/showdata.jpg" alt="showdata" width="600" height="400" class="img-rounded">
        			<br>
        			
        			<br>
        			<h4><font color="black"> If you click in specific region, you can find the weather data of that region.<font></h4>
        			<br>
        			<br>
        		</a>
        		<a class="chartpopup">

        			<img src="../static/image/chartpopup.jpg" alt="chartpopup" width="600" height="400" class="img-rounded">
        			<br>
        			
        			<br>
        			<h4><font color="black"> If you click the button on this page, temperature history will pip up. <font></h4>
        			<br>
        			<br>
        		</a>


        	<h2> FAVOURITE WEATHER STATION <h2>

        		<a class="choosefavorite">

        			<img src="../static/image/choosefavorite.jpg" alt="choosefavorite" width="600" height="400" class="img-rounded">
        			<br>
        			
        			<br>
        			<h4><font color="black"> 당신은 당신이 살고있거나 관심있는 지역을 FAVORITE 표시를 할 수 있습니다.<font></h4>
        			<br>
        			<br>
        		</a>
        		<a class="favorite">

        			<img src="../static/image/favorite.jpg" alt="favorite" width="600" height="400" class="img-rounded">
        			<br>
        			
        			<br>
        			<h4><font color="black"> FAVORITE 기능은, 당신이 재 접속을 하여도 당신의 FAVORITE WEATHER STATION 을 기억합니다. 그리고 그 WEATHER STATION의 모든 데이타를 보여줍니다.<font></h4>
        			<br>
        			<br>
        		</a>




            
            

        
    </div>
</div>

{% endblock %}
