{% extends "layout.html" %}
{% block title %}projectpage{% endblock %}

{% block main_content %}


<div class="col-sm-9 col-sm-offset-0 col-md-10 col-md-offset-1 main">
    <h1 class="page-header">HOW TO USE?</h1>
        <div class="row placeholders">

        	<h3> OVERVIEW <h3>
                <a class="homepage">
                    <br>
 
                    <img src="../static/images/over.gif" alt="homepagepic" width="600" height="400" class="img-rounded">
                    <br>
                    <br>
                    
                    <h4><font color="black"> Specific steps are as below. <font></h4>
                    <br>
                    <br>
                </a>
                <h2>GENERAL STEPS<h2>
        		<a class="homepage">
        			<br>
 
        			<img src="../static/images/homepage.jpg" alt="homepagepic" width="600" height="400" class="img-rounded">
        			<br>
        			<br>
        			
        			<h4><font color="black"> This is the main homepage. <br>User can see all regions in Australia. <font></h4>
        			<br>
        			<br>
        		</a>
        		<a class="clickvic">

        			<img src="../static/images/victoria.jpg" alt="showdata" width="600" height="400" class="img-rounded">
        			<br>
        		
        			<br>
        			<h4><font color="black"> Click the Victoria Region from the homepage. <br>User can access to all the information about the regions in Victoria.<font></h4>
        			<br>
        			<br>
        		</a>
        		<a class="showdata">

        			<img src="../static/images/datashow.jpg" alt="showdata" width="600" height="400" class="img-rounded">
        			<br>
        			
        			<br>
        			<h4><font color="black"> If user clicks in specific region, user can find the weather data of that region.<font></h4>
        			<br>
        			<br>
        		</a>
        		<a class="chartpopup">

        			<img src="../static/images/popup.jpg" alt="chartpopup" width="600" height="400" class="img-rounded">
        			<br>
        			
        			<br>
        			<h4><font color="black"> If user clicks the button on this page, temperature history will pop up. <font></h4>
        			<br>
        			<br>
        		</a>


        	<h2> FAVOURITE WEATHER STATION <h2>
        		<br>
                <h3> OVERVIEW <h3>
                <a class="homepage">
                    <br>
 
                    <img src="../static/images/overviewfavorite.gif" alt="overviewfavorite" width="600" height="400" class="img-rounded">
                    <br>
                    <br>
                    
                    <h4><font color="black"> Specific steps are as below. <font></h4>
                    <br>
                    <br>
                </a>

        		<a class="choosefavorite">

        			<img src="../static/images/choosefavorite.jpg" alt="choosefavorite" width="600" height="400" class="img-rounded">
        			<br>
        			
        			<br>
        			<h4><font color="black"> User can select weather station that user wants to keep track of .<font></h4>
        			<br>
        			<br>
        		</a>
        		<a class="favorite">

        			<img src="../static/images/favorite.jpg" alt="favorite" width="600" height="400" class="img-rounded">
        			<br>
        			
        			<br>
        			<h4><font color="black"> User's favorite weather station should be stored by the program for when the program starts again. <br> Also, user can clear the lists of their favorites.<font></h4>
        			<br>
        			<br>
        		</a>
        		<a class="favoritedata">

        			<img src="../static/images/favoritedata.jpg" alt="favoritedata" width="600" height="400" class="img-rounded">
        			<br>
        			
        			<br>
        			<h4><font color="black"> Also, it will show user all the datas of user's favorite weather station as possible.<font></h4>
        			<br>
        			<br>
        		</a>

        	<h2> THINGS THAT YOU KNOW <h2>
        		<br>
        		<h4><font color="black"> -  The system will automatically refresh the information. <font></h4>
        		<br>
        		<h4><front color="black"> -  User can keep their favorite weather station to keep track of their favorites.
        		<br>
        		<br>
        		<Br>




            
            

        
    </div>
</div>

{% endblock %}
