{% extends "layout.html" %}
{% block title %}VIC{% endblock %}

{% block main_content %}
<h2 class="sub-header">Section title</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Header</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                      {% for x in stations %}
                      {{ x.url }}
                      {% endfor %}
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>
{% endblock %}
