{% extends "layout.html" %}
{% block title %}VIC{% endblock %}

{% block main_content %}

<h2 class="sub-header">Weather Observations for Victoria</h2>
<h5>Select letters below to expand for station names:</h5>

<div>
    {% for station in stations_a_z %}
        <input type="button" value="{{ station.letter }}" onclick="loadFunction( '{{ station.url }}' )" >
    {% endfor %}
</div>

<hr>

<h5 id="inst"></h5>
<h5 id="inst_1"></h5>

<div id="station">
</div> 
<div id="add_favorite">
</div>

<hr>

<div id="displayName">
</div>
<!--include the table and chart button from table.html -->
{% include "table.html" %}

{% endblock %}
