{% extends "layout.html" %}
{% block title %}VIC{% endblock %}

{% block main_content %}

<h2 class="sub-header">Weather Observations for Victoria</h2>
<div id="favorite">
    <input type="button" value="" Add station to favorites</h4> 
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr> 
                {% for station in stations_a_z %}
                <td><input type="button" value="{{ station.letter }}" onclick="loadFunction( '{{ station.url }}' )"; ></td>
                {% endfor %}
            </tr> 

        </thead>
        <tbody id="station">
        </tbody>
        <tbody id="add_favorite">
        </tbody>


    </table>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Temps</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th rowspan="3">Date</th>
                <th>Day</th>
                <th>Min</th>
                <th>Max</th>
                <th>Rain</th>
                <th>Evap</th>
                <th>Sun</th>
                <th>Dir</th>
                <th>Spd</th>
                <th>Time</th>
                <th>Temp</th>
                <th>RH</th>
                <th>Cld</th>
                <th>Dir</th>
                <th>Spd</th>
                <th>MSLP</th>
                <th>Temp</th>
                <th>RH</th>
                <th>Cld</th>
                <th>Dir</th>
                <th>Spd</th>
                <th>MSLP</th>
            <tr>
        </thead>
        <tbody id="station_data">
            <tr>
                <th></th>
            </tr>
        </tbody>
    </table>
</div>

<!-- Test Chart Area -->

<div id="linechart_material">
</div>


{% endblock %}
